body {
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    font-family: monospace;
    
}
.header {
    display: flex;
    height: 40vh;
    background-image: url('./image/rainbow.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.6;
    justify-content: center;
    align-item: center;
    flex-direction: column;
}
.header h1{
    font-weight: 700;
    font-size: 400%;
    width: 100%;
    text-align: center;
    color: black;
}
nav {
    margin: auto;
    width: 60%;
    
    padding: 1%;
}
form {
    display: flex;
    flex-direction: column;
    align-items:center;

}
input[type='text'] {
    width: 80%;
    margin: 1%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
button[type='submit'] {
    
                   
    background-color: #0d6efd;
    width: 20%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
button[type='submit']:hover {
     
        color: #fff;
        background-color: #0b5ed7;
        border-color: #0a58ca;
}
nav form button {
    color: white;
}


.container {
    display: flex;
    flex-direction: column;
    
}

.card {
    display: flex;
    flex-direction: column;
    height: 20vh;
    width: 40%;
    background-image: linear-gradient( 135deg, #3C8CE7 10%, #00EAFF 100%);
    border-radius: 10px;
   
    margin: 1%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}
.main-card {
    display:flex;
    flex-direction: column;
    align-items: center;
}
.dates {
    display:flex;
    color: white;
    justify-content: center;
    font-size: 130%;
    font-weight: 700;
   
}

.infos {
    display: flex;
    flex-direction: row;
    font-weight: 700;
    color: white;
    margin: auto;
    font-size: 150%;
    
}


.rain {
    background-image: url('./image/rainv2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.clear {
    background-image: url('./image/clearv2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.clouds {
    background-image: url('./image/cloudsv2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 660px) {
    .card {
        width: 80%;

    }
    nav {
        width: 80%;
    }
}